
    <h3>Agregar <small>{{nuevo.nombre}}</small></h3>
    <hr>
    <form>
        <input
        type="text"
        placeholder="Pokemon"
        name="nombre"
        [(ngModel)]="nuevo.nombre"
        >
        <input
        type="text"
        placeholder="pc"
        name="pc"
        [(ngModel)]="nuevo.pc"
        >
        <button type="submit" (click)="agregar()">Agregar</button>



    </form>
    <!-- <ul>
    <li *ngFor="let pokemon of listaPokemon">
        {{pokemon.nombre}} -- {{pokemon.pc}}</li>
    </ul> -->

